[phases.setup]
nixPkgs = ["nodejs", "python311"]

[phases.install]
cmds = ["npm install", "pip install -r requirements.txt"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "python production_server.py"